{% extends 'index.html' %}

{% block head %}
{{ super() }}            

<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="article:author" content="https://www.facebook.com/faisal.khan">
<meta property="og:title" content="{{article.title}}">
<meta property="og:description" content="{{article.description}}">
<meta property="og:image" content="{{article.cover_image}}">

{% endblock head %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock title %}

{% block content %}

    <article class="entry">
        <header class="entry-head">
            <span class="entry-meta">
                <time datetime="{{article.date.strftime('%B %d, %Y')}}">{{ article.date.strftime('%B %d, %Y')}}</time> 
            </span>
            <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
            {% for tag in article.tags %}
                <span class="label label-default">#{{tag}}</span>
            {% endfor %}
        </header>
        <section class="post-summary">
            {% if article.cover_image %}
                        <span class="caption"><img src="{{ article.cover_image}}" height=250px></span>
                    {% endif %}
            {{ article.content }}
        </section>
    </article> 
    {% include 'social.html' %}

    {% include 'neighbors.html' %}

    {% include 'disqus.html' %}

{% endblock  %}
